# configuration

# These are generated
Makefile
config.status
config.summary

# Do not ignore these Makefiles
# FIX: how do I do this without enumerating each directory level?
!*/Makefile
!*/*/Makefile
!*/*/*/Makefile
!*/*/*/*/Makefile

# dependency files
*.d
# objects
*.o
# archives
*.a

# Test output
*.dSYM
*.tmp
testcout

# Test programs
nonport
voidlist
tobjlist
bit2d
growbuf
testmalloc
mypopen
strdict
svdict
str
strutil
trdelete
bflatten
mysig
testmalloc
mypopen
tobjpool
strhash
cycles
tsobjlist
crc
srcloc
hashline
gprintf
smregexp
vptrmap
vdtllist
pprint
boxprint
tarrayqueue
testarray
taillist_test
autofile
bitarray
d2vector
